# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Raw and intermediate datasets
data/raw/*
data/interim/*

# Trained model artifacts
models/*

# OS files
.DS_Store
Thumbs.db

# Raw and intermediate datasets
data/raw/*
data/interim/*

# Keep folder structure
!data/raw/.gitkeep
!data/interim/.gitkeep

# Trained model artifacts
models/*
!models/.gitkeep